button {
    padding: 5px 10px;
    cursor: pointer;
}

input {
    cursor: pointer;
    padding: 5px 10px;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}